.aboutmetitle{
    /* text-align: center; */
    padding-bottom: 10px;
}
.about p{
    font-size: larger;
    text-align: center;


    
}
.about {
    text-align: center;
    background-color: #C9BBCF;
    padding: 50px;
    display: flexbox;
    margin-top: 70px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 780px) {
  
  .about p{
      font-size: small;
      margin: 0;
      padding: 0;
  }
  .about{
      margin-top: 30px;
  }


}
