/* .footer {
  background-color: #fbc7e7;
} */

/* .footer {
  background-color: #748da6;
  padding: 50px 90px;
}

.connect {
  margin-bottom: 20px;
  color: white;
}
.group {
  margin-top: 50px;
}
.copyright {
  display: flex;
  font-size: small;
  justify-content: center;
  position: relative;
  top: 50px;
}

.footer a {
  color: white;
}
.footer a:hover {
  text-decoration: underline;
} */

/* @media only screen and (max-width: 700px) {
  .footer {
    padding-top: 60px;
  }
  .copyright {
    top: 10px;
  }
} */
