.header{
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 9999;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #748DA6;
  font-size: 20px;
}
a:hover{
    text-decoration-color: #B2C8DF;

}

.bottomnav{
    float: right;
}

@media only screen and (max-width: 800px) {
  .active{
display: none; 

}
li{
  display: inline;
  
}
.header{
  display: flex;
  justify-content: center;
}


}

@media only screen and (max-width: 500px) {
#resume{
  display: none;
}
}
