.homepage{
    height: 30vh;
    background-color:#D3CEDF ;
    margin: 0px 100px;
    text-align: left;
    padding: 40px;

}
.text{
    padding-bottom: 30px;
}
.small{
    font-size: medium;
}


@media only screen and (max-width: 900px) {
    .homepage{
        height: 40vh;
        font-size: small;
    }

}