.homepage{
    height: 80vh;
    /* background-color:#F2D7D9 ; */
    text-align: left;
    padding: 40px 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 70px;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;

}
.hand{
     animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;  
  margin-left: 25px;
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
.text{
   
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.lefthome {
    text-align: center;
    /* background-color: aqua; */
        grid-area: 1 / 1 / 2 / 2;
        display: grid;

            animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
.lefthome .text{
    display: flex;
    align-items: center;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 6rem;
    color: #3797A4;
    margin-top: 0px;
    padding-top: 0px;
}
.lefthome p{
    font-size: larger;
}
.righthome{
    grid-area: 1 / 2 / 2 / 3;
        animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
.righthome img{
    border-radius: 50%;
    height: fit-content;

}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.spectext{
    color: #3797A4;
}


@media only screen and (max-width: 800px) {
    .homepage{
        height: 40vh;
     
    }
    
    .lefthome .text {
        font-size: 35px;
        padding-left: 10px;
    }
    .hand{
        display: none;
        margin-left: 0;
    }
    .homepage{
        margin: 0px;
        margin-top: 70px;

        padding: 0px;
    }
    .lefthome{
        text-align: center;
    }
    .righthome img{
        padding: 0px;
        margin-top: 25%;
    }
    .lefthome p{
       /* background-color: antiquewhite; */
       display: flex;
       justify-content: center;
       font-size: small;
    }
    .spectext{
        padding-right: 3px;
    }

   

}