.techpage {
  background-color: #daeaf1;
}
.techpage i {
  font-size: 50px;
}
.techpage i:hover {
  color: white;
  background-color: black;
}
.techtitle {
  font-size: xx-large;
}
.techpage .col {
  transition: all 0.2s ease-in-out;
}
.techpage .col:hover {
  transform: scale(1.1);
}
