.tech{
    background-color: #D0E8F2;
    height: 100vh;
    padding: 20px;
    position: relative;
    
}
.techimage{
    max-width: 200px;
}
.techcontainer{

          position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    
 
}
.techtitle{
    text-align: center;
    padding: 50px;
    font-size: 25px;
    color: black;
}

.techcontainer img{
     padding: 5px;
    max-width: 250px;
    max-height: 100px;
    transition: all .2s ease-in-out;
       display: inline-block;
        flex-wrap: wrap;
}
.techcontainer img:hover{
   transform: scale(1.05)

}
@media only screen and (max-width: 1580px) {
  
    .techcontainer {
       max-width: 100%;


    }


}




@media only screen and (max-width: 780px) {
  
    .techcontainer img{
        max-width: 120px;
        max-height: 50px;


    }


}

