.techimage{
    max-width: 200px;
}
.techcontainer{
   

}

.techcontainer img{
     display: inline-block;
     padding: 5px;
     margin: 5px;
    max-width: 250px;
    max-height: 100px;
    transition: all .2s ease-in-out;
}
.techcontainer img:hover{
   transform: scale(1.05)

}
